<style type="text/css">
    body {
        background-color:white
    }
    .header {
      background: #8a8a8a;
    }
    .header .columns {
      padding-bottom: 0;
    }
    .header p {
      color: #fff;
      padding-top: 15px;
    }
    .header .wrapper-inner {
      padding: 20px;
    }
    .header .container {
      background: transparent;
    }
    table.button.facebook table td {
      background: #3B5998 !important;
      border-color: #3B5998;
    }
    table.button.twitter table td {
      background: #1daced !important;
      border-color: #1daced;
    }
    table.button.google table td {
      background: #DB4A39 !important;
      border-color: #DB4A39;
    }
    .wrapper.secondary {
      background: #f3f3f3;
    }
    .two-column {
        text-align: center;
        font-size: 0;
    }
    .two-column .column {
        width: 100%;
        max-width: 300px;
        display: inline-block;
        vertical-align: top;
    }
    .contents {
        width: 100%;
    }
    .two-column .contents {
        font-size: 14px;
        text-align: left;
    }
    .two-column img {
        width: 100%;
        max-width: 280px;
        height: auto;
    }
    .two-column .text {
        padding-top: 10px;
    }
    .inner {
        padding: 10px;
    }
    .mytable {
        border-spacing: 0;
        color: #333333;
        font-size: 16px;
        font-family: Arial, sans-serif;
    }
    .mytable {
        border-collapse: collapse;
    }
    .mytable td {
        border: 1px solid #e8e7e5; 
    }
    .mytable tr:first-child td {
        border-top: 0;
    }
    .mytable tr td:first-child {
        border-left: 0;
    }
    .mytable tr:last-child td {
        border-bottom: 0;
    }
    .mytable tr td:last-child {
        border-right: 0;
    }
    .center {
        margin-left: auto;
        margin-right: auto;
    }
  </style>
  
  <wrapper class="">
    <container>
      <row class="collapse">
        <div width="350" height="150" align="center" style="background-color:#ffffff">
            <a href="https://e-crew.skom.com.my" style="width:250; display:block; text-decoration:none; border:0; text-align:center; font-weight:bold;font-size:18px; font-family: Arial, sans-serif; color: #ffffff" class="button_link">
                <img src="https://e-crew.skom.com.my/assets/images/logo.png" style="padding-top:5px;padding-bottom: 10px;" alt="" border="0"/>
            </a>
        </div>
      </row>
    </container>
  </wrapper>
  
  <container>
  
    <row>
      <columns small="12" >
        
        <table class="one-column" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0; padding: 5%;" bg="#FFFFFF">
          <tr>
                <td>
                    <p style="color:#262626; font-size:16px; font-family: Arial, sans-serif">
                        <b style="color:#000000; font-size:18px; line-height:22px ">Dear <%= Name %></b> 
                        <span style="color:#000000; font-size:18px; line-height:22px">(<%= Identification %>)</span><b>,</b>
                        <br/><br/>    
                        Thank you for your application.</br>
                        We are pleased to make the following offer of employment.<br><br>
                        <table class="mytable" border="0" cellpadding="0" cellspacing="0" width="100%" style="border-spacing:0; border:1px solid #e8e7e5; padding: 10px;" bg="#FFFFFF">
                            <tr>
                                <td style="padding:8px; background-color:#f1f1f0;">Position</td>
                                <td style="padding:8px"><%= OfferPosition %></td>
                            </tr>
                            <tr>
                                <td style="padding:8px; background-color:#f1f1f0;">Vessel Name</td>
                                <td style="padding:8px"><%= NameofVessel %></td>
                            </tr>
                            <tr>
                                <td style="padding:8px; background-color:#f1f1f0;">Contract Start</td>
                                <td style="padding:8px"><%= ContractPeriodFrom %></td>
                            </tr>
                            <tr>
                                <td style="padding:8px; background-color:#f1f1f0;">Contract End</td>
                                <td style="padding:8px"><%= ContractPeriodTo %></td>
                            </tr>
                            <tr>
                                <td style="padding:8px; background-color:#f1f1f0;">Daily Rate</td>
                                <td style="padding:8px"><%= DailyRate %></td>
                            </tr>
                            <tr>
                                <td style="padding:8px; background-color:#f1f1f0;">Allowance <%= AllowanceRemark %></td>
                                <td style="padding:8px"><%= Allowance %></td>
                            </tr>
                            <tr>
                                <td style="padding:8px; background-color:#f1f1f0;">Standby Allowance <%= StandbyAllowanceRemark %></td>
                                <td style="padding:8px"><%= StandbyAllowance %></td>
                            </tr>
                            <!-- <tr>
                                <td style="padding:8px; background-color:#f1f1f0;">Other Allowance <%= OtherAllowanceRemark %></td>
                                <td style="padding:8px"><%= OtherAllowance %></td>
                            </tr> -->
                        </table>
                        <br />
                        Please acknowledge your acceptance of the above offer.
                        Should you need further clarification, please contact <b><%= AdminName %></b> at <%= AdminEmail %>.

                        <br><br>
                        <span style="font-size:12px">This is a computer generated message and no signature is required.</span>
                    </p>
                </td>
          </tr>
          <tr style="margin-bottom: 20px">
              <td align="center">
                  <table border="0" cellpadding="0" cellspacing="0" style="Margin:0 auto;">
                      <tr>
                          <td width="250" height="60" align="center" bgcolor="#2f9780" style="-moz-border-radius: 30px; -webkit-border-radius: 30px; border-radius: 30px;">
                              <a href="http://uat-ecrew.skom.com.my/pages/applicant_jobportal/application-acceptance?LoginEmail=<%= Email %>&ApplyID=<%= ApplicationID %>" style="width:350; display:block; text-decoration:none; border:0; text-align:center; font-weight:bold;font-size:18px; font-family: Arial, sans-serif; color: #ffffff" class="button_link">Click here to view and accept offer
                              </a>
                          </td>
                      </tr>
                  </table>
              </td>
          </tr>
        </table>
      </columns>
    </row>
    <wrapper class="secondary">
  
      <spacer size="16"></spacer>
  
      <row>
        <table cellpadding="0" cellspacing="0" border="0" width="100%" style="background-color: #f8f7f7">
          <tr>
              <td height="30">&nbsp;</td>
          </tr>
          <tr>
              <td class="two-column" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;text-align:center;font-size:0;"><!--[if (gte mso 9)|(IE)]>
                  <table width="100%" style="border-spacing:0" >
                      <tr>
                          <td width="50%" valign="top" style="padding-top:0;padding-bottom:0;padding-right:0;padding-left:0;" >
                  <![endif]-->
                  <div style="width:100%;max-width:399px;display:inline-block;vertical-align:top;">
                      <table style="border-spacing:0; width:100%">
                          <tr style="text-align: center;">
                              <td>Copyright SKOM Sdn. Bhd., Malaysia &copy; <b><a href="" target="_blank"></a>2020</b></td>
                          </tr>
                      </table>
                  </div>
                  
              </td>
          </tr>
          <tr>
              <td height="30">&nbsp;</td>
          </tr>
        </table>
      </row>

        
    </wrapper>
</container>